/* @import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  height: 100vb;
  background-color: #405d72;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
}

.heading {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  margin: 40px;
  z-index: 1;
  text-align: center;
  color: rgb(65, 61, 61);
}

span {
  width: 100vw;
  background-color: #fff8f3;
}

.submit {
  background-color: #fff8f3;
}